@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(calc(-100% + (8*200px)));
    }
}

/* @media only screen and (max-width: 768px) {
    .container .carousel-items {
        animation: carouselAnim 200s infinite alternate linear;
    }

    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
        }

        to {
            transform: translate(calc(-100% + (8*300px)));
        }
    }
} */

.container .carousel-items {
    animation: carouselAnim 200s infinite alternate linear;
}

.carousel-focus:hover {
    transition: all 0.8s;
    transform: scale(1.1);
}